


.index{
    background-image: url(../Img/fondo1.jpg);
}


.titulo{
	background: #050947;
	color: white;
	padding: 20px;
    font-size:30px;
	
}

.carrusel{
	
    width: 90%;
    height: 90%;
	background: transparent;
	padding: 30px;
	margin: auto;
	margin-top:10px;
	border-radius: 10px;
	color: white;
}


.body{

    
	background: #c49adfcb;
	padding: 10px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top:15px;
	border-radius: 20px;
	color: white;
	
	padding-left: 20px;
}